.ProseMirror-menubar {
    min-height: 30px;
    height: 30px;
}

.ProseMirror-icon, .ProseMirror-menu-dropdown-wrap {
    display: inline-block;
}

.ProseMirror-icon svg {
    height: 1em;
    width: 1em;
}