@import url("https://fonts.googleapis.com/css?family=Montserrat");

.card-selector-button {
  display: inline-block;
  vertical-align: top;
}

.card-selector-content {
  width: 150px;
  position: relative;
  padding: 10px;
  transition: all 0.1s ease-in;
  box-shadow: 2px 2px 4px 0px #a9a9a9;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

.card-preview {
  height: 430px;
  width: 540px;
}
