@import url("https://fonts.googleapis.com/css?family=Montserrat");

.card-selector-button {
  display: inline-block;
  vertical-align: top;
}

.card-selector-content {
  width: 150px;
  position: relative;
  padding: 10px;
  transition: all 0.1s ease-in;
  box-shadow: 2px 2px 4px 0px #a9a9a9;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

.div-label {
  font-size: 12px;
  color: #4d4d4d;
  font-family: Avenir;
  margin-left: 3px;
  margin-top: 6px;
}

.card-preview {
    height: 430px;
    width: 540px;
    border: 1px solid #959595;
    border-radius: 5px;
    margin-bottom: 10px;
}
