.menu {
	background-color: #ededed;
	padding: 5px 0px;
	position: sticky;
	top: 0px;
	box-sizing: border-box;
}

.menu, .menu > .item:first-child {
	border-radius: 3px;
}

.section {
	display: inline-block;
	border-right: 1px solid #a8a8a8;
	vertical-align: top;
}

.section:last-of-type {
	border: none;
}