.item-div {
	display: inline-block;
}

.item {
	border: none;
    background-color: #ededed;
    width: 35px;
    height: 30px;
    text-align: center;
}

.item:hover {
	cursor: pointer;
	background-color: #e3e3e3;
}

.item[active=true] {
	background-color: #c8c8c8;
}

.item:disabled {
	opacity: 0.35;
}

.item:disabled:hover {
	background-color: inherit;
	cursor: default;
}