* {
  box-sizing: border-box;
}

.header {
  padding: 6px 3px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #959595;
  border-bottom: 1px solid white;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 3px 5px 5px 0px rgba(219, 217, 217, 0.75);
}

.header:only-child {
  border: 1px solid #959595;
  border-radius: 5px;
  box-shadow:none;
}

.header__title {
  display: inline-block;
}

.content {
  position: relative;
}

.list {
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  border: 1px solid #959595;
  border-radius: 0px 0px 5px 5px;
  box-sizing: border-box;
  border-top: none;
  margin-top: -1px;
  scrollbar-width: none;
  max-height: 300px;
  box-shadow: 3px 5px 5px 0px rgba(219, 217, 217, 0.75);
}

.list__item {
  padding: 6px 3px;
}

.list__item:hover {
  background-color: #efefef;
  cursor: pointer;
}

.list__title {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list__subtitle {
  width: 30%;
  text-align: right;
}

.menuitem-container {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 35px;
}

.menuitem-content {
  position: absolute;
  display:none;
  background-color: white;
  width: inherit;
}

.menuitem-header__title {
  line-height: 30px;
  font-weight: 800;
}

.menuitem-header__title[active=true] {
  background-color: #c8c8c8;
}

.menuitem-list__item {
  background-color: white;
}

.menuitem-container:hover .menuitem-content {
  display: block !important;
}