* {
	box-sizing: border-box;
}

.header {
	padding: 6px 3px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #959595;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0px 0px;
}

.header:only-child {
	border: 1px solid #959595;
	border-radius: 5px;
}

.header__title {
	display: inline-block;
}

.content {
	position: relative;
}

.list {
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
    position: absolute;
    border: 1px solid #959595;
    border-radius: 0px 0px 5px 5px;
    box-sizing: border-box;
    border-top: none;
    margin-top: -1px;
    scrollbar-width: none;
    max-height: 300px;
}

.list__item {
	padding: 6px 3px;
}

.list__item:hover {
	background-color: #efefef;
	cursor: pointer;
}
